Repository ppark2ya/nestjs-graphql-fastify-api: changes, and which Drone steps are due for each by the changed paths.
All: gateway, auth

gateway:
  steps:
  - name: build-and-push-gateway
    image: plugins/docker
    settings:
      dockerfile: apps/gateway/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_gateway
      tags:
      - ${DRONE_TAG:-${DRONE_BRANCH}-${DRONE_COMMIT_SHA:0:8}}
      - latest
      username:
  ...

auth:
  steps:
  - name: build-and-push-auth
    image: plugins/docker
    settings:
      dockerfile: apps/auth/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_auth
      tags:
      - ${DRONE_TAG:-${DRONE_BRANCH}-${DRONE_COMMIT_SHA:0:8}}
      - latest
      username:
  ...

docs: update CLAUDE.md with nginx service architecture
  CLAUDE.md
Due: none

chore: add @elastic/ecs-winston-format package
  package.json
  pnpm-lock.yaml
Due: gateway, auth

feat(shared): apply ECS logging format to Winston file transport
  libs/shared/src/common/logger/winston-logger.service.ts
Due: gateway, auth

feat(log-streamer): add ECS JSON field recognition to JSONParser
  apps/log-streamer/internal/logreader/parser.go
  apps/log-streamer/internal/logreader/parser_test.go
Due: none

docs: add SERVICE_NAME env var and ECS logging plan
  CLAUDE.md
  docs/plans/2026-03-06-ecs-logging-format.md
Due: none

fix(shared): replace ecs-winston-format with custom ECS format
  libs/shared/src/common/logger/winston-logger.service.ts
  package.json
  pnpm-lock.yaml
Due: gateway, auth

refactor(shared): use @elastic/ecs-winston-format with UTC timestamp
  libs/shared/src/common/logger/winston-logger.service.ts
  package.json
  pnpm-lock.yaml
Due: gateway, auth

fix(shared): replace ecs-winston-format with custom ECS format (UTC)
  libs/shared/src/common/logger/winston-logger.service.ts
  package.json
  pnpm-lock.yaml
Due: gateway, auth

feat: add correlationId to LoggingInterceptor and exception filters
  apps/gateway/src/app.module.ts
  apps/gateway/src/common/filter/http-exception.filter.ts
  libs/shared/src/common/interceptor/logging.interceptor.ts
Due: gateway, auth

refactor: auto-inject correlationId in WinstonLoggerService, simplify callers
  apps/gateway/src/app.module.ts
  apps/gateway/src/common/filter/http-exception.filter.ts
  apps/gateway/src/schema.gql
  libs/shared/src/common/interceptor/logging.interceptor.ts
  libs/shared/src/common/logger/winston-logger.service.ts
Due: gateway, auth

refactor: use ClassName.name for Logger context
  apps/gateway/src/common/filter/http-exception.filter.ts
  libs/shared/src/common/interceptor/logging.interceptor.ts
Due: gateway, auth

refactor: move Axios interceptors from AppModule to GlobalHttpModule
  apps/gateway/src/app.module.ts
  apps/gateway/src/http/global-http.module.ts
Due: gateway

fix(auth): use connection pool to prevent idle connection timeout
  apps/auth/src/database/database.module.ts
Due: auth

feat(gateway): propagate Accept-Language header to downstream REST APIs
  apps/gateway/src/http/global-http.module.ts
  libs/shared/src/common/context/request-context.ts
  libs/shared/src/common/middleware/request-context.middleware.ts
Due: gateway, auth

fix(gateway): use lowercase accept-language header for fetch adapter compatibility
  apps/gateway/src/http/global-http.module.ts
Due: gateway

ci: move build from Dockerfile to Drone pipeline, gateway global mode
  .drone.yml
  apps/auth/Dockerfile
  apps/gateway/Dockerfile
  apps/log-streamer/Dockerfile
  docker-compose.yml
  docs/plans/2026-03-18-drone-build-optimization.md
Due: gateway, auth

fix(ci): use pnpm exec nx to resolve nx binary in Alpine containers
  .drone.yml
Due: none

fix(ci): use pnpm exec nx in package.json scripts for Alpine compatibility
  package.json
Due: gateway, auth

refactor(ci): remove redundant nx build shared from Drone pipelines
  .drone.yml
Due: none

fix(ci): restore nx build shared before gateway/auth builds
  .drone.yml
Due: none

fix(ci): add shared to gateway/auth dependsOn in project.json
  .drone.yml
  apps/auth/project.json
  apps/gateway/project.json
Due: gateway, auth

fix(ci): remove node_modules and dist from .dockerignore
  .dockerignore
Due: none

feat(ui): convert history log timestamps to KST display
  apps/ui/src/features/history/components/SearchPanel.tsx
  apps/ui/src/lib/utils.ts
  package.json
  pnpm-lock.yaml
Due: gateway, auth

feat(ui): convert history log timestamps to KST display (#36)
  apps/ui/src/features/history/components/SearchPanel.tsx
  apps/ui/src/lib/utils.ts
  package.json
  pnpm-lock.yaml
Due: gateway, auth

feat(ui): add vi-like find mode to LiveStream log viewer
  apps/ui/src/components/HighlightedAnsiText.tsx
  apps/ui/src/features/live-stream/components/LogRow.tsx
  apps/ui/src/features/live-stream/components/LogViewer.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
  apps/ui/src/hooks/useLogSearch.spec.ts
  apps/ui/src/hooks/useLogSearch.ts
  apps/ui/src/index.css
  apps/ui/src/utils/highlight-html.spec.ts
  apps/ui/src/utils/highlight-html.ts
  docs/plans/2026-04-21-livestream-find-mode-design.md
  docs/plans/2026-04-21-livestream-find-mode-plan.md
  package.json
  pnpm-lock.yaml
Due: gateway, auth

fix(ui): add XSS defense and fix useEffect deps in find mode
  apps/ui/src/features/live-stream/components/LogViewer.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
  apps/ui/src/utils/highlight-html.ts
Due: none

feat(ui): add vi-like find mode to LiveStream log viewer (#37)
  apps/ui/src/components/HighlightedAnsiText.tsx
  apps/ui/src/features/live-stream/components/LogRow.tsx
  apps/ui/src/features/live-stream/components/LogViewer.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
  apps/ui/src/hooks/useLogSearch.spec.ts
  apps/ui/src/hooks/useLogSearch.ts
  apps/ui/src/index.css
  apps/ui/src/utils/highlight-html.spec.ts
  apps/ui/src/utils/highlight-html.ts
  docs/plans/2026-04-21-livestream-find-mode-design.md
  docs/plans/2026-04-21-livestream-find-mode-plan.md
  package.json
  pnpm-lock.yaml
Due: gateway, auth

feat(ui): add message-only copy and pause/resume to LiveStream log viewer
  apps/ui/src/features/live-stream/components/LogRow.tsx
  apps/ui/src/features/live-stream/components/LogViewer.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
  apps/ui/src/hooks/useAutoScroll.ts
  docs/plans/2026-04-22-log-copy-and-pause-design.md
  docs/plans/2026-04-22-log-copy-and-pause.md
Due: none

fix(ui): freeze virtualizer list on pause and prevent programmatic scroll race
  apps/ui/src/features/live-stream/components/LogViewer.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
  apps/ui/src/hooks/useAutoScroll.ts
Due: none

feat: support lotte card auth login
  apps/auth/src/auth/auth-mock.service.ts
  apps/auth/src/auth/auth.service.ts
  apps/auth/src/auth/constants/auth-error.ts
  apps/auth/src/auth/enums/user-type.enum.ts
  apps/auth/src/auth/jwt.service.ts
  apps/auth/test/app.e2e-spec.ts
  apps/ui/src/lib/apollo.ts
  libs/shared/src/types/jwt-payload.interface.ts
Due: gateway, auth

feat: support lotte card auth login (#39)
  apps/auth/src/auth/auth-mock.service.ts
  apps/auth/src/auth/auth.service.ts
  apps/auth/src/auth/constants/auth-error.ts
  apps/auth/src/auth/enums/user-type.enum.ts
  apps/auth/src/auth/jwt.service.ts
  apps/auth/test/app.e2e-spec.ts
  apps/ui/src/lib/apollo.ts
  libs/shared/src/types/jwt-payload.interface.ts
Due: gateway, auth

fix auth error propagation for UI login
  .env.example
  .gitignore
  apps/auth/src/auth/auth-mock.service.ts
  apps/auth/src/auth/auth.service.ts
  apps/auth/src/auth/jwt.service.ts
  apps/auth/test/app.e2e-spec.ts
  apps/gateway/src/auth-proxy/auth-proxy.service.ts
  apps/gateway/src/circuit-breaker/circuit-breaker.service.spec.ts
  apps/gateway/src/circuit-breaker/circuit-breaker.service.ts
  apps/gateway/src/common/filter/http-exception.filter.spec.ts
  apps/gateway/src/common/filter/http-exception.filter.ts
  apps/ui/e2e/login.spec.ts
  apps/ui/src/features/auth/LoginPage.tsx
  apps/ui/src/features/auth/error-message.ts
  apps/ui/src/lib/apollo.ts
  apps/ui/src/vite-env.d.ts
  libs/shared/src/types/jwt-payload.interface.ts
  scripts/docker/init-auth-db.sql
Due: gateway, auth

Fix auth role claim compatibility
  apps/auth/src/auth/auth-mock.service.ts
  apps/auth/src/auth/auth.service.ts
  apps/auth/test/app.e2e-spec.ts
  libs/shared/src/types/jwt-payload.interface.ts
Due: gateway, auth

Stabilize UI 2FA token forwarding
  apps/ui/e2e/login.spec.ts
  apps/ui/src/features/auth/LoginPage.tsx
  apps/ui/src/lib/apollo.ts
Due: none

Accept 2FA token in gateway mutation input
  apps/gateway/src/auth-proxy/auth-proxy.resolver.spec.ts
  apps/gateway/src/auth-proxy/auth-proxy.resolver.ts
  apps/gateway/src/auth-proxy/dto/totp-verify.input.ts
  apps/gateway/src/schema.gql
  apps/ui/e2e/login.spec.ts
  apps/ui/src/features/auth/LoginPage.tsx
  apps/ui/src/features/auth/graphql.ts
Due: gateway

Avoid 2FA failure on missing role claim
  apps/auth/src/auth/auth.service.ts
  apps/auth/test/app.e2e-spec.ts
  apps/gateway/src/auth-proxy/auth-proxy.resolver.spec.ts
  apps/gateway/src/auth-proxy/auth-proxy.resolver.ts
  apps/gateway/src/auth-proxy/dto/totp-verify.input.ts
  apps/gateway/src/schema.gql
  apps/ui/e2e/login.spec.ts
  apps/ui/src/features/auth/LoginPage.tsx
  apps/ui/src/features/auth/graphql.ts
Due: gateway, auth

[codex] fix auth error propagation for UI login (#40)
  .env.example
  .gitignore
  apps/auth/src/auth/auth-mock.service.ts
  apps/auth/src/auth/auth.service.ts
  apps/auth/src/auth/jwt.service.ts
  apps/auth/test/app.e2e-spec.ts
  apps/gateway/src/auth-proxy/auth-proxy.service.ts
  apps/gateway/src/circuit-breaker/circuit-breaker.service.spec.ts
  apps/gateway/src/circuit-breaker/circuit-breaker.service.ts
  apps/gateway/src/common/filter/http-exception.filter.spec.ts
  apps/gateway/src/common/filter/http-exception.filter.ts
  apps/ui/e2e/login.spec.ts
  apps/ui/src/features/auth/LoginPage.tsx
  apps/ui/src/features/auth/error-message.ts
  apps/ui/src/lib/apollo.ts
  apps/ui/src/vite-env.d.ts
  scripts/docker/init-auth-db.sql
Due: gateway, auth

feat(auth): return OTP registration URL
  apps/auth/src/account/account.service.ts
  apps/auth/src/auth/auth.service.ts
  apps/auth/test/app.e2e-spec.ts
  apps/gateway/src/auth-proxy/models/login-result.model.ts
  apps/gateway/src/schema.gql
  apps/ui/src/features/auth/graphql.ts
  libs/shared/src/types/auth-response.interface.ts
Due: gateway, auth

fix(gateway): declare OTP URL GraphQL type
  apps/gateway/src/auth-proxy/models/login-result.model.ts
Due: gateway

fix(auth): use MX_ADMIN OTP issuer
  apps/auth/src/auth/totp.service.ts
  apps/auth/test/app.e2e-spec.ts
Due: auth

Path conditions:
  gateway: any of: apps/gateway/**, libs/shared/**, package.json, pnpm-lock.yaml, tsconfig.base.json, nest-cli.json, nx.json, .swcrc
  auth: any of: apps/auth/**, libs/shared/**, package.json, pnpm-lock.yaml, tsconfig.base.json, nest-cli.json, nx.json, .swcrc
