Repository ppark2ya/nestjs-graphql-fastify-api: changes, and which Drone steps are due for each by the changed paths.
All: gateway, auth

gateway:
  steps:
  - name: build-and-push-gateway
    image: plugins/docker
    settings:
      dockerfile: apps/gateway/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_gateway
      tags:
      - ${DRONE_TAG:-${DRONE_BRANCH}-${DRONE_COMMIT_SHA:0:8}}
      - latest
      username:
  ...

auth:
  steps:
  - name: build-and-push-auth
    image: plugins/docker
    settings:
      dockerfile: apps/auth/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_auth
      tags:
      - ${DRONE_TAG:-${DRONE_BRANCH}-${DRONE_COMMIT_SHA:0:8}}
      - latest
      username:
  ...

fix(auth): use account name in OTP URL
  apps/auth/src/auth/auth.service.ts
  apps/auth/test/app.e2e-spec.ts
Due: auth

fix(auth): fallback OTP label to login id
  apps/auth/src/auth/auth.service.ts
  apps/auth/test/app.e2e-spec.ts
Due: auth

[codex] Return OTP registration URL (#41)
  apps/auth/src/account/account.service.ts
  apps/auth/src/auth/auth.service.ts
  apps/auth/src/auth/totp.service.ts
  apps/auth/test/app.e2e-spec.ts
  apps/gateway/src/auth-proxy/models/login-result.model.ts
  apps/gateway/src/schema.gql
  apps/ui/src/features/auth/graphql.ts
  libs/shared/src/types/auth-response.interface.ts
Due: gateway, auth

standardize downstream error codes
  apps/gateway/src/app.module.ts
  apps/gateway/src/app.resolver.ts
  apps/gateway/src/app.service.ts
  apps/gateway/src/auth-proxy/auth-proxy.service.spec.ts
  apps/gateway/src/circuit-breaker/circuit-breaker.service.spec.ts
  apps/gateway/src/circuit-breaker/circuit-breaker.service.ts
  apps/gateway/src/common/filter/http-exception.filter.spec.ts
  apps/gateway/src/common/filter/http-exception.filter.ts
  apps/gateway/src/dataloader/create-api-loader.ts
  apps/gateway/src/dataloader/dataloader.interface.ts
  apps/gateway/src/dataloader/dataloader.module.ts
  apps/gateway/src/dataloader/dataloader.service.ts
  apps/gateway/src/dto/add-numbers.input.ts
  apps/gateway/src/http/global-http.module.ts
  apps/gateway/src/models/post.model.ts
  apps/gateway/src/schema.gql
  apps/gateway/src/types/graphql-context.interface.ts
  apps/ui/e2e/login.spec.ts
Due: gateway

feat: add kiosk admin terminals proxy
  .env.example
  apps/gateway/src/app.module.ts
  apps/gateway/src/enums/currency-code.enum.ts
  apps/gateway/src/env.schema.ts
  apps/gateway/src/kiosk-admin-proxy/kiosk-admin-proxy.module.ts
  apps/gateway/src/kiosk-admin-proxy/kiosk-admin-proxy.resolver.spec.ts
  apps/gateway/src/kiosk-admin-proxy/kiosk-admin-proxy.resolver.ts
  apps/gateway/src/kiosk-admin-proxy/kiosk-admin-proxy.service.spec.ts
  apps/gateway/src/kiosk-admin-proxy/kiosk-admin-proxy.service.ts
  apps/gateway/src/kiosk-admin-proxy/models/kiosk-admin-release-currency-terminals.model.ts
  apps/gateway/src/kiosk-admin-proxy/models/kiosk-admin-terminal-info.model.ts
  apps/gateway/src/schema.gql
  apps/gateway/test/app.e2e-spec.ts
Due: gateway

fix: address kiosk admin proxy review
  apps/gateway/src/kiosk-admin-proxy/kiosk-admin-proxy.resolver.spec.ts
  apps/gateway/src/kiosk-admin-proxy/kiosk-admin-proxy.resolver.ts
  apps/gateway/src/kiosk-admin-proxy/kiosk-admin-proxy.service.spec.ts
  apps/gateway/src/kiosk-admin-proxy/kiosk-admin-proxy.service.ts
  apps/gateway/src/schema.gql
  apps/gateway/test/app.e2e-spec.ts
Due: gateway

fix changePassword public jwt forwarding
  apps/gateway/src/auth-proxy/auth-proxy.resolver.ts
  apps/gateway/src/auth-proxy/auth-proxy.service.ts
  apps/gateway/test/app.e2e-spec.ts
  apps/ui/src/features/auth/graphql.ts
Due: gateway

add password policy validation
  apps/auth/src/auth/dto/auth.dto.ts
  apps/auth/test/app.e2e-spec.ts
  apps/gateway/src/auth-proxy/dto/change-password.input.ts
  apps/gateway/src/schema.gql
Due: gateway, auth

Record auth login history
  apps/auth/src/auth/auth-mock.service.ts
  apps/auth/src/auth/auth.controller.ts
  apps/auth/src/auth/auth.module.ts
  apps/auth/src/auth/auth.service.ts
  apps/auth/src/database/schema.ts
  apps/auth/src/login-history/login-history.module.ts
  apps/auth/src/login-history/login-history.service.ts
  apps/auth/test/app.e2e-spec.ts
  apps/gateway/src/auth-proxy/auth-proxy.resolver.spec.ts
  apps/gateway/src/auth-proxy/auth-proxy.resolver.ts
  apps/gateway/src/auth-proxy/auth-proxy.service.ts
  scripts/docker/init-auth-db.sql
Due: gateway, auth

Mark auth password mutation public
  apps/gateway/src/auth-proxy/auth-proxy.resolver.ts
Due: gateway

Support expired password change tokens
  apps/auth/src/auth/auth-mock.service.ts
  apps/auth/src/auth/auth.controller.ts
  apps/auth/src/auth/auth.service.ts
  apps/auth/src/auth/filters/auth-error.filter.ts
  apps/auth/src/auth/jwt.service.ts
  apps/auth/test/app.e2e-spec.ts
  apps/gateway/src/auth-proxy/auth-proxy.resolver.spec.ts
  apps/gateway/src/auth-proxy/auth-proxy.resolver.ts
  apps/gateway/src/auth-proxy/auth-proxy.service.ts
  apps/gateway/src/common/filter/http-exception.filter.spec.ts
  apps/gateway/src/common/filter/http-exception.filter.ts
Due: gateway, auth

feat: add time range log history search
  apps/gateway/src/log-history/dto/log-search.input.ts
  apps/gateway/src/log-history/log-history.service.spec.ts
  apps/gateway/src/log-history/log-history.service.ts
  apps/log-streamer/internal/handler/logfiles.go
  apps/log-streamer/internal/logreader/reader.go
  apps/log-streamer/internal/logreader/reader_test.go
  apps/log-streamer/internal/logreader/types.go
  apps/ui/e2e/history-tabs.spec.ts
  apps/ui/src/features/history/components/SearchPanel.tsx
Due: gateway

Align winston logger file rotation
  libs/shared/src/common/logger/winston-logger.service.ts
Due: gateway, auth

feat(ui): pause live stream subscriptions
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.spec.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.ts
  apps/ui/src/features/live-stream/components/LogViewer.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
  docs/development-verification.md
Due: gateway

Add ECS history search and SQL buffer
  apps/gateway/src/log-history/dto/log-sql-buffer.input.ts
  apps/gateway/src/log-history/log-history.resolver.ts
  apps/gateway/src/log-history/log-history.service.spec.ts
  apps/gateway/src/log-history/log-history.service.ts
  apps/gateway/src/schema.gql
  apps/log-streamer/internal/handler/logfiles.go
  apps/log-streamer/internal/logreader/parser.go
  apps/log-streamer/internal/logreader/reader.go
  apps/log-streamer/internal/logreader/reader_test.go
  apps/log-streamer/internal/logreader/types.go
  apps/log-streamer/internal/router/router.go
  apps/ui/src/features/history/components/SearchPanel.tsx
  apps/ui/src/features/history/graphql.ts
Due: gateway

fix login access channel auth cleanup
  .env.example
  CLAUDE.md
  apps/auth/jest.config.ts
  apps/auth/project.json
  apps/auth/src/app.module.ts
  apps/auth/src/auth/auth-mock.service.ts
  apps/auth/src/auth/auth.controller.ts
  apps/auth/src/auth/auth.module.ts
  apps/auth/src/auth/auth.service.ts
  apps/auth/src/env.schema.ts
  apps/auth/test/app.e2e-spec.ts
  apps/auth/test/jest-e2e.json
  apps/gateway/jest.config.ts
  apps/gateway/project.json
  apps/gateway/src/auth-proxy/auth-proxy.resolver.spec.ts
  apps/gateway/src/auth-proxy/auth-proxy.resolver.ts
  apps/gateway/test/jest-e2e.json
  docker-compose.yml
  libs/shared/src/common/http/access-channel.ts
  libs/shared/src/index.ts
Due: gateway, auth

chore preserve db env variable names
  .env.example
  docker-compose.yml
Due: none

fix kst login history timestamps and access logging
  apps/auth/src/database/kst-datetime.spec.ts
  apps/auth/src/database/kst-datetime.ts
  apps/auth/src/database/schema.ts
  apps/auth/src/login-history/login-history.service.spec.ts
  apps/gateway/src/common/middleware/logger.middleware.spec.ts
  libs/shared/src/common/middleware/logger.middleware.ts
Due: gateway, auth

Path conditions:
  gateway: any of: apps/gateway/**, libs/shared/**, package.json, pnpm-lock.yaml, tsconfig.base.json, nest-cli.json, nx.json, .swcrc
  auth: any of: apps/auth/**, libs/shared/**, package.json, pnpm-lock.yaml, tsconfig.base.json, nest-cli.json, nx.json, .swcrc
