Repository ppark2ya/nestjs-graphql-fastify-api: changes, and which Drone steps are due for each by the changed paths.
All: gateway, auth

gateway:
  steps:
  - name: build-and-push-gateway
    image: plugins/docker
    settings:
      dockerfile: apps/gateway/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_gateway
      tags:
      - ${DRONE_TAG:-${DRONE_BRANCH}-${DRONE_COMMIT_SHA:0:8}}
      - latest
      username:
  ...

auth:
  steps:
  - name: build-and-push-auth
    image: plugins/docker
    settings:
      dockerfile: apps/auth/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_auth
      tags:
      - ${DRONE_TAG:-${DRONE_BRANCH}-${DRONE_COMMIT_SHA:0:8}}
      - latest
      username:
  ...

fix(log-streamer): Swarm 노드 호스트명으로 표시 (os.Hostname → Docker API)
  apps/log-streamer/internal/docker/client.go
  apps/log-streamer/internal/handler/logfiles.go
  apps/log-streamer/internal/server/server.go
Due: none

feat(log-streamer): archive 디렉토리 + gz 압축 파일 검색 지원
  apps/log-streamer/internal/logreader/reader.go
  apps/log-streamer/internal/logreader/reader_test.go
  apps/log-streamer/internal/logreader/types.go
Due: none

feat(log-viewer): ANSI escape code → HTML 색상 렌더링 지원
  apps/log-viewer/src/LogViewer.tsx
  apps/log-viewer/src/ServiceLogViewer.tsx
  apps/log-viewer/src/components/AnsiText.tsx
  apps/log-viewer/src/pages/HistoryPage.tsx
  package.json
  pnpm-lock.yaml
Due: gateway, auth

feat(shared): HTTP 로깅 미들웨어에 클라이언트 IP 추가
  libs/shared/src/common/middleware/logger.middleware.ts
Due: gateway, auth

feat(log-viewer): 사이드바 드래그 리사이즈 + 컨테이너명 tooltip 추가
  apps/log-viewer/src/ContainerList.tsx
  apps/log-viewer/src/pages/LiveStreamPage.tsx
Due: none

feat(log-viewer): SVG favicon 추가
  apps/log-viewer/index.html
  apps/log-viewer/public/favicon.svg
Due: none

fix(log-streamer): Docker multiplexed stream 바이너리 파서로 교체
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.ts
  apps/log-streamer/internal/docker/client.go
  apps/log-streamer/internal/handler/logs.go
Due: gateway

docs: 로그인 페이지 설계 문서 추가
  docs/plans/2026-02-23-login-page-design.md
Due: none

docs: add login page implementation plan
  docs/plans/2026-02-23-login-page-plan.md
Due: none

feat(auth): change token expiry to 1h access / 4h refresh
  apps/ui/index.html
  apps/ui/project.json
  apps/ui/src/App.tsx
  apps/ui/src/ContainerList.tsx
  apps/ui/src/LogViewer.tsx
  apps/ui/src/ServiceLogViewer.tsx
  apps/ui/src/apollo.ts
  apps/ui/src/components/Navigation.tsx
  apps/ui/src/graphql.ts
  apps/ui/src/history-graphql.ts
  apps/ui/src/index.css
  apps/ui/src/lib/utils.ts
  apps/ui/src/main.tsx
  apps/ui/src/pages/HistoryPage.tsx
  apps/ui/src/pages/LiveStreamPage.tsx
  apps/ui/src/utils.ts
  apps/ui/src/vite-env.d.ts
  apps/ui/tsconfig.json
  apps/ui/tsconfig.node.json
  apps/ui/vite.config.ts
  libs/shared/src/constants/auth.constants.ts
Due: gateway, auth

refactor: rename log-viewer to ui
  apps/ui/index.html
  apps/ui/project.json
  apps/ui/vite.config.ts
Due: none

feat(ui): add auth context, token management, route guard
  apps/ui/src/App.tsx
  apps/ui/src/apollo.ts
  apps/ui/src/auth/AuthContext.tsx
  apps/ui/src/auth/AuthGuard.tsx
  apps/ui/src/auth/graphql.ts
  apps/ui/src/auth/token.ts
  apps/ui/src/pages/LoginPage.tsx
Due: none

feat(ui): add login page with 2FA OTP input
  apps/ui/src/components/OtpInput.tsx
  apps/ui/src/pages/LoginPage.tsx
Due: none

feat(ui): add username display and logout button to navigation
  apps/ui/src/components/Navigation.tsx
Due: none

test(ui): add Playwright E2E tests for login and auth guard
  apps/ui/e2e/auth-guard.spec.ts
  apps/ui/e2e/login.spec.ts
  apps/ui/playwright.config.ts
  apps/ui/project.json
Due: none

fix(ui): code review fixes - logout token order, stale closure, E2E reliability
  apps/ui/e2e/auth-guard.spec.ts
  apps/ui/src/auth/AuthContext.tsx
  apps/ui/src/pages/LoginPage.tsx
Due: none

fix(ui): fix focus ring clipping on login form inputs
  apps/ui/src/pages/LoginPage.tsx
Due: none

feat(ui): migrate to shadcn/ui components with dark theme CSS variables
  apps/ui/components.json
  apps/ui/e2e/login.spec.ts
  apps/ui/src/App.tsx
  apps/ui/src/ContainerList.tsx
  apps/ui/src/LogViewer.tsx
  apps/ui/src/ServiceLogViewer.tsx
  apps/ui/src/auth/AuthGuard.tsx
  apps/ui/src/components/Navigation.tsx
  apps/ui/src/components/OtpInput.tsx
  apps/ui/src/components/ui/badge.tsx
  apps/ui/src/components/ui/button.tsx
  apps/ui/src/components/ui/card.tsx
  apps/ui/src/components/ui/input.tsx
  apps/ui/src/components/ui/label.tsx
  apps/ui/src/components/ui/scroll-area.tsx
  apps/ui/src/components/ui/select.tsx
  apps/ui/src/components/ui/table.tsx
  apps/ui/src/index.css
  apps/ui/src/pages/HistoryPage.tsx
  apps/ui/src/pages/LiveStreamPage.tsx
  apps/ui/src/pages/LoginPage.tsx
  apps/ui/tsconfig.json
  apps/ui/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: gateway, auth

feat(ui): add mobile responsive sidebar with Sheet drawer on LiveStreamPage
  apps/ui/src/components/ui/sheet.tsx
  apps/ui/src/index.css
  apps/ui/src/pages/LiveStreamPage.tsx
  package.json
  pnpm-lock.yaml
Due: gateway, auth

fix(ui): adjust Sheet close icon position and compact header for mobile
  apps/ui/src/components/Navigation.tsx
  apps/ui/src/components/ui/sheet.tsx
Due: none

refactor(ui): 컴포넌트 구조 정리 및 gateway 정적 서빙 경로 수정
  apps/gateway/Dockerfile
  apps/gateway/src/main.ts
  apps/ui/src/App.tsx
  apps/ui/src/auth/AuthContext.tsx
  apps/ui/src/lib/apollo.ts
  apps/ui/src/lib/utils.ts
  apps/ui/src/pages/LoginPage.tsx
  apps/ui/src/pages/history/HistoryPage.tsx
  apps/ui/src/pages/history/graphql.ts
  apps/ui/src/pages/live-stream/ContainerList.tsx
  apps/ui/src/pages/live-stream/LiveStreamPage.tsx
  apps/ui/src/pages/live-stream/LogViewer.tsx
  apps/ui/src/pages/live-stream/ServiceLogViewer.tsx
  apps/ui/src/pages/live-stream/graphql.ts
  apps/ui/src/utils.ts
  pnpm-lock.yaml
Due: gateway, auth

fix(gateway): SPA fallback 추가 - 클라이언트 라우트 404 해결
  apps/gateway/src/main.ts
Due: gateway

fix(gateway): setNotFoundHandler → onSend 훅으로 SPA fallback 변경
  apps/gateway/src/main.ts
Due: gateway

fix(gateway): log-streamer WebSocket 재연결 최대 5회로 제한
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.ts
Due: gateway

feat(gateway): Winston 로거를 NestJS app logger로 설정
  apps/gateway/src/main.ts
Due: gateway

fix(gateway): 정적 파일 서빙 및 환경변수 로딩 수정
  apps/gateway/project.json
  apps/gateway/src/auth/api-key.guard.ts
  apps/gateway/src/env.schema.ts
  apps/gateway/src/log-history/log-history.service.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.ts
  apps/gateway/src/main.ts
  apps/gateway/src/pubsub/pubsub.provider.ts
Due: gateway

prettier fix
  .mise.toml
  apps/log-streamer/go.sum
  apps/ui/src/App.tsx
  apps/ui/src/auth/AuthContext.tsx
  apps/ui/src/auth/token.ts
  apps/ui/src/components/Navigation.tsx
  apps/ui/src/components/OtpInput.tsx
  apps/ui/src/pages/LoginPage.tsx
  apps/ui/src/pages/history/HistoryPage.tsx
  apps/ui/src/pages/live-stream/ContainerList.tsx
  apps/ui/src/pages/live-stream/LiveStreamPage.tsx
  apps/ui/src/pages/live-stream/LogViewer.tsx
  apps/ui/src/pages/live-stream/ServiceLogViewer.tsx
  pnpm-lock.yaml
Due: gateway, auth

fix(gateway): SPA 클라이언트 라우팅 무한 로딩 수정
  apps/gateway/src/main.ts
Due: gateway

docs: CLAUDE.md 프로젝트 현황 업데이트
  CLAUDE.md
Due: none

fix: 테스트 인프라 수정 (Jest 설정 생성, SWC 경로 충돌 해결, mise exec 적용)
  apps/auth/jest.config.ts
  apps/auth/test/app.e2e-spec.ts
  apps/auth/test/jest-e2e.json
  apps/gateway/jest.config.ts
  apps/log-streamer/project.json
Due: gateway, auth

style: prettier 포맷팅 적용 및 Redis PubSub 안정성 개선
  apps/auth/src/app.module.ts
  apps/auth/src/auth/auth-mock.service.ts
  apps/auth/src/auth/auth.controller.ts
  apps/auth/src/auth/auth.module.ts
  apps/auth/src/auth/auth.service.ts
  apps/auth/src/auth/jwt.service.ts
  apps/auth/src/env.schema.ts
  apps/auth/src/token/token.service.ts
  apps/gateway/src/app.module.ts
  apps/gateway/src/app.resolver.ts
  apps/gateway/src/auth-proxy/auth-proxy.module.ts
  apps/gateway/src/auth-proxy/auth-proxy.resolver.ts
  apps/gateway/src/auth-proxy/auth-proxy.service.ts
  apps/gateway/src/auth-proxy/models/login-result.model.ts
  apps/gateway/src/auth/api-key.guard.ts
  apps/gateway/src/auth/gql-throttler.guard.ts
  apps/gateway/src/circuit-breaker/circuit-breaker.service.ts
  apps/gateway/src/common/filter/http-exception.filter.ts
  apps/gateway/src/dataloader/create-api-loader.ts
  apps/gateway/src/log-history/dto/log-search.input.ts
  apps/gateway/src/log-history/log-history.service.ts
  apps/gateway/src/log-history/models/log-line.model.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.ts
  apps/gateway/src/pubsub/pubsub.provider.ts
  apps/ui/src/lib/apollo.ts
  libs/shared/src/common/interceptor/logging.interceptor.ts
  libs/shared/src/common/logger/winston-logger.service.ts
  libs/shared/src/index.ts
Due: gateway, auth

docs: CLAUDE.md에 Docker Swarm 통합 테스트 환경 문서 추가
  CLAUDE.md
Due: none

feat: Docker Swarm 통합 테스트 인프라 구성
  docker-stack.test.yml
  docs/plans/2026-02-24-docker-swarm-test-infra-design.md
  docs/plans/2026-02-24-docker-swarm-test-infra.md
  scripts/docker/init-auth-db.sql
  scripts/swarm-test-down.sh
  scripts/swarm-test-up.sh
Due: none

feat(ui): 실시간 로그 탭 시스템 구현 및 Redis PubSub 연결 안정성 개선
  apps/gateway/src/pubsub/pubsub.provider.ts
  apps/ui/src/pages/live-stream/LiveStreamPage.tsx
  apps/ui/src/pages/live-stream/LogViewer.tsx
  apps/ui/src/pages/live-stream/ServiceLogViewer.tsx
  apps/ui/src/pages/live-stream/TabBar.tsx
  apps/ui/src/pages/live-stream/graphql.ts
Due: gateway

feat(ui): 로그 검색 History 탭 시스템 구현
  apps/ui/e2e/history-tabs.spec.ts
  apps/ui/src/pages/history/HistoryPage.tsx
  apps/ui/src/pages/history/HistoryTabBar.tsx
  apps/ui/src/pages/history/SearchPanel.tsx
  apps/ui/src/pages/history/graphql.ts
Due: none

ci: Drone OSS paths trigger를 git diff 기반 변경 감지로 대체
  .drone.yml
Due: none

ci: 파이프라인 순차 실행으로 빌드 서버 부하 방지
  .drone.yml
Due: none

Path conditions:
  gateway: any of: apps/gateway/**, libs/shared/**, package.json, pnpm-lock.yaml, tsconfig.base.json, nest-cli.json, nx.json, .swcrc
  auth: any of: apps/auth/**, libs/shared/**, package.json, pnpm-lock.yaml, tsconfig.base.json, nest-cli.json, nx.json, .swcrc
