Repository ppark2ya/nestjs-graphql-fastify-api: changes, and which Drone steps are due for each by the changed paths.
All: gateway, auth

.drone.yml:

# ================================================================
# Drone CI Pipeline Configuration
# Gateway와 Auth를 분리된 파이프라인으로 빌드
# 각 서비스 관련 소스가 변경될 때만 트리거
# ================================================================

# ================== Gateway Pipeline ==================
kind: pipeline
type: docker
name: gateway

trigger:
  branch:
    - develop
    - dev-*
  event:
    - push
    - tag
  paths:
    include:
      - apps/gateway/**
      - libs/shared/**
      - package.json
      - pnpm-lock.yaml
      - tsconfig.base.json
      - nest-cli.json
      - nx.json
      - .swcrc

steps:
  - name: build-and-push-gateway
    image: plugins/docker
    settings:
      dockerfile: apps/gateway/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_gateway
      tags:
        - ${DRONE_TAG:-${DRONE_BRANCH}-${DRONE_COMMIT_SHA:0:8}}
        - latest
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
    when:
      status:
        - success

---
# ================== Auth Pipeline ==================
kind: pipeline
type: docker
name: auth

trigger:
  branch:
    - develop
    - dev-*
  event:
    - push
    - tag
  paths:
    include:
      - apps/auth/**
      - libs/shared/**
      - package.json
      - pnpm-lock.yaml
      - tsconfig.base.json
      - nest-cli.json
      - nx.json
      - .swcrc

steps:
  - name: build-and-push-auth
    image: plugins/docker
    settings:
      dockerfile: apps/auth/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_auth
      tags:
        - ${DRONE_TAG:-${DRONE_BRANCH}-${DRONE_COMMIT_SHA:0:8}}
        - latest
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
    when:
      status:
        - success
---
# ================== Gateway Pipeline ==================
kind: pipeline
type: docker
name: gateway

trigger:
  event:
    - tag
  ref:
    - refs/tags/v*

steps:
  - name: build-and-push-gateway
    image: plugins/docker
    settings:
      dockerfile: apps/gateway/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_gateway
      tags:
        - ${DRONE_TAG}
        - latest
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
    when:
      status:
        - success

---
# ================== Auth Pipeline ==================
kind: pipeline
type: docker
name: auth

trigger:
  event:
    - tag
  ref:
    - refs/tags/v*

steps:
  - name: build-and-push-auth
    image: plugins/docker
    settings:
      dockerfile: apps/auth/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_auth
      tags:
        - ${DRONE_TAG}
        - latest
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
    when:
      status:
        - success

ci: log-streamer 파이프라인 추가
  .drone.yml
Due: none

perf(docker): BuildKit cache mount로 pnpm install 속도 개선
  apps/auth/Dockerfile
  apps/gateway/Dockerfile
Due: gateway, auth

fix(auth): USE_MOCK_AUTH=true 시 DB/JWT 환경변수 optional 처리
  apps/auth/src/env.schema.ts
Due: auth

fix(ui): OtpInput 빈 문자열일 때 input이 렌더링되지 않는 버그 수정
  apps/ui/src/components/OtpInput.tsx
Due: none

fix(ui): JWT payload 한글 name 깨짐 수정
  apps/ui/src/auth/token.ts
Due: none

fix(auth): Gateway↔Auth 통신을 TCP microservice에서 HTTP로 전환
  apps/auth/src/auth/auth.controller.ts
  apps/auth/src/env.schema.ts
  apps/auth/src/main.ts
  apps/gateway/src/auth-proxy/auth-proxy.module.ts
  apps/gateway/src/auth-proxy/auth-proxy.service.ts
  apps/gateway/src/common/filter/http-exception.filter.ts
  apps/gateway/src/env.schema.ts
  docker-compose.yml
  docker-stack.test.yml
Due: gateway, auth

refactor(ui): 커스텀 OtpInput을 shadcn/ui InputOTP로 교체
  apps/ui/src/components/OtpInput.tsx
  apps/ui/src/components/ui/input-otp.tsx
  apps/ui/src/pages/LoginPage.tsx
  package.json
  pnpm-lock.yaml
Due: gateway, auth

docs: add login page redesign design document
  docs/plans/2026-02-26-login-redesign-design.md
Due: none

docs: add login page redesign implementation plan
  docs/plans/2026-02-26-login-redesign.md
Due: none

style(ui): add CSS keyframes for login page animations
  apps/ui/src/index.css
Due: none

feat(ui): redesign login page with split-panel layout and CSS animations
  apps/ui/src/pages/LoginPage.tsx
Due: none

test(ui): update login E2E tests for split-panel layout
  apps/ui/e2e/login.spec.ts
Due: none

feat(ui): Live Stream 사이드바 검색 필터 및 드래그 리사이즈 추가
  apps/ui/src/components/ui/resizable.tsx
  apps/ui/src/pages/live-stream/ContainerList.tsx
  apps/ui/src/pages/live-stream/LiveStreamPage.tsx
  package.json
  pnpm-lock.yaml
Due: gateway, auth

fix(ui): ResizablePanel 사이즈를 픽셀에서 퍼센트로 수정
  apps/ui/src/pages/live-stream/LiveStreamPage.tsx
Due: none

Revert "feat(ui): redesign login page with split-panel layout and CSS animations"
  apps/ui/src/pages/LoginPage.tsx
Due: none

Revert "test(ui): update login E2E tests for split-panel layout"
  apps/ui/e2e/login.spec.ts
Due: none

Revert "style(ui): add CSS keyframes for login page animations"
  apps/ui/src/index.css
Due: none

feat: UI 환경 변수 추가
  apps/ui/src/lib/apollo.ts
  apps/ui/src/vite-env.d.ts
Due: none

docs: log-streamer chi 라우터 도입 설계 문서
  docs/plans/2026-02-26-log-streamer-chi-router-design.md
Due: none

docs: log-streamer chi 라우터 구현 계획
  docs/plans/2026-02-26-log-streamer-chi-router.md
Due: none

chore(log-streamer): add chi/v5 dependency
  apps/log-streamer/go.mod
  apps/log-streamer/go.sum
Due: none

refactor(log-streamer): introduce chi router and router package
  apps/log-streamer/go.mod
  apps/log-streamer/internal/handler/logfiles.go
  apps/log-streamer/internal/router/router.go
  apps/log-streamer/internal/server/server.go
Due: none

refactor(log-streamer): convert health and containers handlers to closure factories
  apps/log-streamer/internal/handler/containers.go
  apps/log-streamer/internal/handler/health.go
  apps/log-streamer/internal/router/router.go
Due: none

refactor(log-streamer): expose LogFilesHandler methods and remove RegisterRoutes
  apps/log-streamer/internal/handler/logfiles.go
  apps/log-streamer/internal/router/router.go
Due: none

refactor(log-streamer): split WebSocket handler into ws package
  apps/log-streamer/internal/handler/logs.go
  apps/log-streamer/internal/handler/ws/handler.go
  apps/log-streamer/internal/handler/ws/stream.go
  apps/log-streamer/internal/handler/ws/subscription.go
  apps/log-streamer/internal/router/router.go
Due: none

fix(log-streamer): clear subs map in CloseAll to prevent double-close panic
  apps/log-streamer/internal/handler/ws/subscription.go
Due: none

feat(log-history): add Log4j2 bracket pattern parsing and metadata propagation
  apps/gateway/src/log-history/models/log-line.model.ts
  apps/log-streamer/internal/logreader/parser.go
  apps/log-streamer/internal/logreader/parser_test.go
  apps/log-streamer/internal/logreader/reader.go
  apps/log-streamer/internal/logreader/types.go
  apps/ui/src/pages/history/SearchPanel.tsx
  apps/ui/src/pages/history/graphql.ts
Due: gateway

ci: VITE_API_KEY 빌드 타임 주입 설정 추가
  .drone.yml
  apps/gateway/Dockerfile
  scripts/swarm-test-up.sh
Due: gateway

fix(log-streamer): redirect default logger output to stdout
  apps/log-streamer/cmd/server/main.go
Due: none

feat(log-streamer): multi-line log grouping and structured logging
  apps/log-streamer/cmd/server/main.go
  apps/log-streamer/internal/handler/containers.go
  apps/log-streamer/internal/handler/health.go
  apps/log-streamer/internal/handler/logfiles.go
  apps/log-streamer/internal/handler/ws/handler.go
  apps/log-streamer/internal/handler/ws/stream.go
  apps/log-streamer/internal/handler/ws/subscription.go
  apps/log-streamer/internal/logreader/parser_test.go
  apps/log-streamer/internal/logreader/reader.go
  apps/log-streamer/internal/logreader/reader_test.go
  apps/log-streamer/internal/middleware/logging.go
  apps/log-streamer/internal/server/server.go
Due: none

feat(log-streamer): add production diagnostic logging to reader
  apps/log-streamer/internal/logreader/reader.go
Due: none

feat(ui): preserve page state when switching between Live Stream and History
  apps/ui/e2e/auth-guard.spec.ts
  apps/ui/src/App.tsx
  apps/ui/src/components/Navigation.tsx
  docs/plans/2026-02-26-page-tab-persistence-design.md
Due: none

otp autofocus 추가
  apps/ui/src/pages/LoginPage.tsx
Due: none

feat(log-streamer): support top-level archive dir and undated active logs
  apps/log-streamer/internal/logreader/reader.go
  apps/log-streamer/internal/logreader/reader_test.go
  apps/log-streamer/internal/logreader/types.go
Due: none

fix: resolve all ESLint type-safety errors (147 errors → 0)
  apps/auth/src/auth/auth-mock.service.ts
  apps/auth/src/auth/auth.controller.ts
  apps/auth/src/auth/auth.service.ts
  apps/auth/src/auth/jwt.service.ts
  apps/auth/src/auth/zod-validation.pipe.ts
  apps/auth/src/main.ts
  apps/gateway/src/app.module.ts
  apps/gateway/src/auth-proxy/auth-proxy.resolver.ts
  apps/gateway/src/auth/api-key.guard.ts
  apps/gateway/src/auth/gql-throttler.guard.ts
  apps/gateway/src/common/filter/http-exception.filter.ts
  apps/gateway/src/dataloader/create-api-loader.ts
  apps/gateway/src/log-history/log-history.service.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.resolver.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.ts
  apps/gateway/src/main.ts
  apps/gateway/src/types/graphql-context.interface.ts
  apps/ui/src/auth/token.ts
  apps/ui/src/lib/apollo.ts
  eslint.config.mjs
  libs/shared/src/common/interceptor/logging.interceptor.ts
  libs/shared/src/common/logger/winston-logger.service.ts
  libs/shared/src/common/middleware/correlation-id.middleware.ts
  libs/shared/src/common/middleware/logger.middleware.ts
  libs/shared/src/common/middleware/request-context.middleware.ts
Due: gateway, auth

fix(auth): install @types/bcryptjs and remove eslint-disable comments
  apps/auth/src/auth/auth.service.ts
  package.json
  pnpm-lock.yaml
Due: gateway, auth

fix(shared): use Node.js IncomingMessage/ServerResponse in middleware
  libs/shared/src/common/middleware/correlation-id.middleware.ts
  libs/shared/src/common/middleware/logger.middleware.ts
  libs/shared/src/common/middleware/request-context.middleware.ts
Due: gateway, auth

fix(ui): persist live-stream tab state in sessionStorage
  apps/ui/src/pages/live-stream/LiveStreamPage.tsx
Due: none

fix(ui): prevent login page blank screen caused by OTP autoFocus
  apps/ui/src/pages/LoginPage.tsx
Due: none

style(ui): add auto-hide custom scrollbar for dark theme
  apps/ui/src/index.css
Due: none
