Repository ppark2ya/nestjs-graphql-fastify-api: changes, and which Drone steps are due for each by the changed paths.
All: gateway, auth

.drone.yml:

# ================================================================
# Drone CI Pipeline Configuration
# Gateway와 Auth를 분리된 파이프라인으로 빌드
# 각 서비스 관련 소스가 변경될 때만 트리거
# ================================================================

# ================== Gateway Pipeline ==================
kind: pipeline
type: docker
name: gateway

trigger:
  branch:
    - develop
    - dev-*
  event:
    - push
    - tag
  paths:
    include:
      - apps/gateway/**
      - libs/shared/**
      - package.json
      - pnpm-lock.yaml
      - tsconfig.base.json
      - nest-cli.json
      - nx.json
      - .swcrc

steps:
  - name: build-and-push-gateway
    image: plugins/docker
    settings:
      dockerfile: apps/gateway/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_gateway
      tags:
        - ${DRONE_TAG:-${DRONE_BRANCH}-${DRONE_COMMIT_SHA:0:8}}
        - latest
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
    when:
      status:
        - success

---
# ================== Auth Pipeline ==================
kind: pipeline
type: docker
name: auth

trigger:
  branch:
    - develop
    - dev-*
  event:
    - push
    - tag
  paths:
    include:
      - apps/auth/**
      - libs/shared/**
      - package.json
      - pnpm-lock.yaml
      - tsconfig.base.json
      - nest-cli.json
      - nx.json
      - .swcrc

steps:
  - name: build-and-push-auth
    image: plugins/docker
    settings:
      dockerfile: apps/auth/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_auth
      tags:
        - ${DRONE_TAG:-${DRONE_BRANCH}-${DRONE_COMMIT_SHA:0:8}}
        - latest
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
    when:
      status:
        - success
---
# ================== Gateway Pipeline ==================
kind: pipeline
type: docker
name: gateway

trigger:
  event:
    - tag
  ref:
    - refs/tags/v*

steps:
  - name: build-and-push-gateway
    image: plugins/docker
    settings:
      dockerfile: apps/gateway/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_gateway
      tags:
        - ${DRONE_TAG}
        - latest
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
    when:
      status:
        - success

---
# ================== Auth Pipeline ==================
kind: pipeline
type: docker
name: auth

trigger:
  event:
    - tag
  ref:
    - refs/tags/v*

steps:
  - name: build-and-push-auth
    image: plugins/docker
    settings:
      dockerfile: apps/auth/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_auth
      tags:
        - ${DRONE_TAG}
        - latest
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
    when:
      status:
        - success

feat(ui): add tab crossfade transition to HistoryPage
  apps/ui/src/features/history/HistoryPage.tsx
Due: none

feat(ui): add fade-in slide animation for new log rows
  apps/ui/src/features/live-stream/components/LogViewer.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
  apps/ui/src/hooks/useLogBuffer.ts
Due: none

feat(ui): add skeleton loading to ContainerList
  apps/ui/src/features/history/components/SearchPanel.tsx
  apps/ui/src/features/live-stream/components/ContainerList.tsx
Due: none

docs: add ui transitions design and implementation plan
  apps/ui/src/hooks/useLogBuffer.ts
  docs/plans/2026-03-04-ui-transitions-design.md
  docs/plans/2026-03-04-ui-transitions.md
Due: none

chore: pnpm-lock 최신화
  pnpm-lock.yaml
Due: gateway, auth

fix(ui): fix sidebar click not working on LiveStreamPage
  apps/ui/src/App.tsx
Due: none

fix(ui): move measureElement ref to data-index element for correct virtualization
  apps/ui/src/features/live-stream/components/LogRow.tsx
  apps/ui/src/features/live-stream/components/LogViewer.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
Due: none

fix(ui): remove transform from log-enter animation to prevent positioning conflict
  apps/ui/src/features/live-stream/components/LogViewer.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
  apps/ui/src/index.css
Due: none

fix(ui): fix log row visual overlap in LogViewer (#25)
  apps/ui/src/features/live-stream/components/LogRow.tsx
  apps/ui/src/features/live-stream/components/LogViewer.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
  apps/ui/src/index.css
Due: none

feat(ui): add search filtering to History page App select box
  apps/ui/src/components/ui/command.tsx
  apps/ui/src/components/ui/popover.tsx
  apps/ui/src/features/history/components/SearchPanel.tsx
  package.json
  pnpm-lock.yaml
Due: gateway, auth

fix(ui): widen App combobox to fit long app names
  apps/ui/src/features/history/components/SearchPanel.tsx
Due: none

feat(ui): add search filtering to History page App select box (#26)
  apps/ui/src/components/ui/command.tsx
  apps/ui/src/components/ui/popover.tsx
  apps/ui/src/features/history/components/SearchPanel.tsx
  package.json
  pnpm-lock.yaml
Due: gateway, auth

feat: add service-level log subscription with auto-recovery on container restart
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.resolver.spec.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.resolver.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.spec.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.ts
  apps/gateway/src/log-streamer-proxy/models/service-log-entry.model.ts
  apps/log-streamer/internal/docker/events.go
  apps/log-streamer/internal/handler/ws/handler.go
  apps/log-streamer/internal/handler/ws/service_stream.go
  apps/log-streamer/internal/handler/ws/service_subscription.go
  apps/log-streamer/internal/handler/ws/subscription.go
  apps/ui/src/features/live-stream/components/ContainerList.tsx
  apps/ui/src/features/live-stream/components/LogRow.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
  apps/ui/src/features/live-stream/graphql.ts
Due: gateway

feat: add service-level log subscription with auto-recovery on container restart (#27)
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.resolver.spec.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.resolver.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.spec.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.ts
  apps/gateway/src/log-streamer-proxy/models/service-log-entry.model.ts
  apps/log-streamer/internal/docker/events.go
  apps/log-streamer/internal/handler/ws/handler.go
  apps/log-streamer/internal/handler/ws/service_stream.go
  apps/log-streamer/internal/handler/ws/service_subscription.go
  apps/log-streamer/internal/handler/ws/subscription.go
  apps/ui/src/features/live-stream/components/ContainerList.tsx
  apps/ui/src/features/live-stream/components/LogRow.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
  apps/ui/src/features/live-stream/graphql.ts
Due: gateway

feat(ui): add container bookmark feature to LiveStream page
  apps/ui/src/features/live-stream/components/ContainerList.tsx
Due: none

feat(ui): add container bookmark feature to LiveStream page (#28)
  apps/ui/src/features/live-stream/components/ContainerList.tsx
Due: none

fix(ui): prevent ContainerList skeleton flicker on poll refetch
  apps/ui/src/features/live-stream/components/ContainerList.tsx
Due: none

fix(ui): prevent ContainerList skeleton flicker on poll refetch (#29)
  apps/ui/src/features/live-stream/components/ContainerList.tsx
Due: none

fix(infra): fix error-reporter cron running at UTC instead of KST
  scripts/crontab-error-report
Due: none

docs: add container stats monitoring design document
  docs/plans/2026-03-06-container-stats-design.md
Due: none

docs: add container stats monitoring implementation plan
  docs/plans/2026-03-06-container-stats-plan.md
Due: none

feat(log-streamer): add Docker container stats collection
  apps/log-streamer/internal/docker/client.go
Due: none

feat(log-streamer): add GET /api/stats endpoint
  apps/log-streamer/internal/handler/stats.go
  apps/log-streamer/internal/router/router.go
Due: none

feat(gateway): add ContainerStats GraphQL model
  apps/gateway/src/log-streamer-proxy/models/container-stats.model.ts
Due: gateway

feat(gateway): add containerStats GraphQL query with multi-node support
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.resolver.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.ts
Due: gateway

feat(ui): add ContainerStats query and formatBytes utility
  apps/ui/src/features/live-stream/graphql.ts
  apps/ui/src/lib/utils.ts
Due: none

feat(ui): display container CPU/memory stats with color-coded status indicators
  apps/ui/src/features/live-stream/components/ContainerList.tsx
Due: none

style: apply lint auto-fix formatting
  apps/gateway/src/log-streamer-proxy/models/service-log-entry.model.ts
Due: gateway

fix(log-streamer): decouple stats context from HTTP request lifecycle
  apps/log-streamer/internal/docker/client.go
Due: none

refactor(stats): replace full polling with tab-based container stats
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.resolver.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.ts
  apps/log-streamer/internal/docker/client.go
  apps/log-streamer/internal/handler/stats.go
  apps/ui/src/features/live-stream/components/ContainerList.tsx
  apps/ui/src/features/live-stream/components/LogViewer.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
  apps/ui/src/features/live-stream/graphql.ts
Due: gateway

fix(ui): only poll container stats for the active tab
  apps/ui/src/features/live-stream/LiveStreamPage.tsx
  apps/ui/src/features/live-stream/components/LogViewer.tsx
  apps/ui/src/features/live-stream/components/ServiceLogViewer.tsx
Due: none

docs: add Nginx proxy service design document
  docs/plans/2026-03-06-nginx-proxy-design.md
Due: none

docs: add Nginx proxy service implementation plan
  docs/plans/2026-03-06-nginx-proxy-impl-plan.md
Due: none

feat(nginx): add nginx config with /admin IP whitelist and gateway proxy
  docker/nginx/nginx.conf
  docker/nginx/whitelist.conf
Due: none

feat(nginx): add multi-stage Dockerfile with UI build
  docker/nginx/Dockerfile
Due: none

refactor(gateway): remove static file serving (moved to nginx)
  apps/gateway/src/main.ts
Due: gateway

refactor(gateway): remove UI build dependency from Dockerfile
  apps/gateway/Dockerfile
Due: gateway

feat(infra): add nginx service, remove gateway external port
  docker-compose.yml
Due: none

ci(drone): add nginx pipelines and decouple UI from gateway CI
  .drone.yml
Due: none

test(infra): add nginx service to swarm test environment
  docker-stack.test.yml
  scripts/swarm-test-up.sh
Due: none
