Repository ppark2ya/nestjs-graphql-fastify-api: changes, and which Drone steps are due for each by the changed paths.
All: gateway, auth

.drone.yml:

# ================================================================
# Drone CI Pipeline Configuration
# Gateway와 Auth를 분리된 파이프라인으로 빌드
# 각 서비스 관련 소스가 변경될 때만 트리거
# ================================================================

# ================== Gateway Pipeline ==================
kind: pipeline
type: docker
name: gateway

trigger:
  branch:
    - develop
    - dev-*
  event:
    - push
    - tag
  paths:
    include:
      - apps/gateway/**
      - libs/shared/**
      - package.json
      - pnpm-lock.yaml
      - tsconfig.base.json
      - nest-cli.json
      - nx.json
      - .swcrc

steps:
  - name: build-and-push-gateway
    image: plugins/docker
    settings:
      dockerfile: apps/gateway/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_gateway
      tags:
        - ${DRONE_TAG:-${DRONE_BRANCH}-${DRONE_COMMIT_SHA:0:8}}
        - latest
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
    when:
      status:
        - success

---
# ================== Auth Pipeline ==================
kind: pipeline
type: docker
name: auth

trigger:
  branch:
    - develop
    - dev-*
  event:
    - push
    - tag
  paths:
    include:
      - apps/auth/**
      - libs/shared/**
      - package.json
      - pnpm-lock.yaml
      - tsconfig.base.json
      - nest-cli.json
      - nx.json
      - .swcrc

steps:
  - name: build-and-push-auth
    image: plugins/docker
    settings:
      dockerfile: apps/auth/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_auth
      tags:
        - ${DRONE_TAG:-${DRONE_BRANCH}-${DRONE_COMMIT_SHA:0:8}}
        - latest
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
    when:
      status:
        - success
---
# ================== Gateway Pipeline ==================
kind: pipeline
type: docker
name: gateway

trigger:
  event:
    - tag
  ref:
    - refs/tags/v*

steps:
  - name: build-and-push-gateway
    image: plugins/docker
    settings:
      dockerfile: apps/gateway/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_gateway
      tags:
        - ${DRONE_TAG}
        - latest
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
    when:
      status:
        - success

---
# ================== Auth Pipeline ==================
kind: pipeline
type: docker
name: auth

trigger:
  event:
    - tag
  ref:
    - refs/tags/v*

steps:
  - name: build-and-push-auth
    image: plugins/docker
    settings:
      dockerfile: apps/auth/Dockerfile
      context: .
      repo:
        from_secret: docker_repo_auth
      tags:
        - ${DRONE_TAG}
        - latest
      username:
        from_secret: docker_username
      password:
        from_secret: docker_password
    when:
      status:
        - success

feat: env validation, global HttpModule, GraphQL operation logging
  apps/auth/src/app.module.ts
  apps/auth/src/env.schema.ts
  apps/gateway/src/app.module.ts
  apps/gateway/src/enums/currency-code.enum.ts
  apps/gateway/src/http/global-http.module.ts
  apps/gateway/src/models/currency-rate.model.ts
  libs/shared/src/common/interceptor/logging.interceptor.ts
  libs/shared/src/common/middleware/logger.middleware.ts
Due: gateway, auth

http 통신 어댑터 변경
  apps/gateway/src/http/global-http.module.ts
Due: gateway

chore: gateway env 검증 추가
  apps/gateway/src/app.module.ts
  apps/gateway/src/env.schema.ts
Due: gateway

자동 재시작 커맨드 수정
  package.json
Due: gateway, auth

winston 로깅 공통 모듈 추가
  apps/gateway/src/app.module.ts
  libs/shared/src/common/logger/logger.module.ts
  libs/shared/src/common/logger/winston-logger.service.ts
  libs/shared/src/common/middleware/logger.middleware.ts
  libs/shared/src/index.ts
Due: gateway, auth

chore: winston 로거 모듈화
  libs/shared/src/common/logger/winston-logger.service.ts
Due: gateway, auth

fix: winston 콘솔 로그 포맷 padding 수정
  libs/shared/src/common/logger/winston-logger.service.ts
Due: gateway, auth

feat: Go 기반 Docker Log Streamer 모듈 추가
  CLAUDE.md
  apps/gateway/src/app.module.ts
  apps/gateway/src/log-streamer-proxy/dto/subscribe-logs.input.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.module.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.resolver.ts
  apps/gateway/src/log-streamer-proxy/log-streamer-proxy.service.ts
  apps/gateway/src/log-streamer-proxy/models/container.model.ts
  apps/gateway/src/log-streamer-proxy/models/log-entry.model.ts
  apps/gateway/src/pubsub/pubsub.module.ts
  apps/gateway/src/pubsub/pubsub.provider.ts
  apps/gateway/src/schema.gql
  apps/log-streamer/Dockerfile
  apps/log-streamer/cmd/server/main.go
  apps/log-streamer/go.mod
  apps/log-streamer/go.sum
  apps/log-streamer/internal/config/config.go
  apps/log-streamer/internal/docker/client.go
  apps/log-streamer/internal/handler/containers.go
  apps/log-streamer/internal/handler/health.go
  apps/log-streamer/internal/handler/logs.go
  apps/log-streamer/internal/middleware/correlation.go
  apps/log-streamer/internal/middleware/cors.go
  apps/log-streamer/internal/middleware/logging.go
  apps/log-streamer/internal/server/server.go
  apps/log-streamer/project.json
  docker-compose.local.yml
  docker-compose.yml
  package.json
  pnpm-lock.yaml
  scripts/load-test.sh
  scripts/test-subscription.js
  scripts/test-websocket.js
Due: gateway, auth

chore: mise 런타임 버전 관리 설정 추가
  .gitignore
  .mise.toml
  CLAUDE.md
Due: none

docs: Docker Log Viewer 설계 문서 추가
  docs/plans/2026-02-15-log-viewer-design.md
Due: none

docs: Docker Log Viewer 구현 계획 작성
  docs/plans/2026-02-15-log-viewer.md
Due: none

feat(log-viewer): 프로젝트 셋업 (Vite + React + Tailwind + Apollo Client)
  apps/log-viewer/index.html
  apps/log-viewer/src/App.tsx
  apps/log-viewer/src/apollo.ts
  apps/log-viewer/src/graphql.ts
  apps/log-viewer/src/index.css
  apps/log-viewer/src/main.tsx
  apps/log-viewer/src/vite-env.d.ts
  apps/log-viewer/tsconfig.json
  apps/log-viewer/tsconfig.node.json
  apps/log-viewer/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: gateway, auth

feat(log-viewer): ContainerList, LogViewer, App 컴포넌트 구현
  apps/log-viewer/src/App.tsx
  apps/log-viewer/src/ContainerList.tsx
  apps/log-viewer/src/LogViewer.tsx
Due: none

feat(log-viewer): Nx 프로젝트 등록 및 dev 스크립트 추가
  apps/log-viewer/project.json
  package.json
Due: gateway, auth

feat: Docker Swarm 서비스 단위 로그 집계 지원
  apps/gateway/src/log-streamer-proxy/models/container.model.ts
  apps/gateway/src/schema.gql
  apps/log-streamer/internal/docker/client.go
  apps/log-viewer/src/App.tsx
  apps/log-viewer/src/ContainerList.tsx
  apps/log-viewer/src/ServiceLogViewer.tsx
  apps/log-viewer/src/graphql.ts
  docker-compose.swarm-test.yml
Due: gateway

feat(log-viewer): React Compiler 적용 및 수동 메모이제이션 제거
  .gitignore
  apps/log-viewer/src/App.tsx
  apps/log-viewer/src/LogViewer.tsx
  apps/log-viewer/src/ServiceLogViewer.tsx
  apps/log-viewer/src/utils.ts
  apps/log-viewer/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: gateway, auth

docs: log-viewer 정적 서빙 설계 문서 추가
  docs/plans/2026-02-19-log-viewer-static-serving-design.md
Due: none

docs: log-viewer 정적 서빙 구현 계획 추가
  docs/plans/2026-02-19-log-viewer-static-serving.md
Due: none

feat(log-viewer): Vite dev server에 Gateway proxy 설정 추가
  apps/log-viewer/vite.config.ts
Due: none

refactor(log-viewer): Apollo Client를 상대경로 기반으로 변경
  apps/log-viewer/src/App.tsx
  apps/log-viewer/src/apollo.ts
Due: none

feat(gateway): @fastify/static으로 log-viewer SPA 정적 서빙
  apps/gateway/src/main.ts
  package.json
  pnpm-lock.yaml
Due: gateway, auth

build(docker): Gateway 이미지에 log-viewer 빌드 산출물 포함
  apps/gateway/Dockerfile
Due: gateway

build: Gateway 빌드 시 log-viewer 자동 빌드 (Nx dependsOn)
  apps/gateway/project.json
  apps/gateway/src/main.ts
  apps/log-viewer/vite.config.ts
Due: gateway

fix(gateway): setNotFoundHandler 제거 (NestJS 충돌 해결)
  apps/gateway/src/main.ts
Due: gateway

build: shared 라이브러리 빌드 추가 및 Swarm E2E compose 파일
  apps/gateway/Dockerfile
  docker-compose.swarm-e2e.yml
Due: gateway

fix(log-streamer): WebSocket concurrent write panic 수정
  apps/log-streamer/internal/handler/logs.go
Due: none

feat: Swarm 노드 호스트명 표시 (컨테이너 목록 + 로그 뷰어)
  apps/gateway/src/log-streamer-proxy/models/container.model.ts
  apps/log-streamer/internal/docker/client.go
  apps/log-viewer/src/ContainerList.tsx
  apps/log-viewer/src/ServiceLogViewer.tsx
  apps/log-viewer/src/graphql.ts
Due: gateway

feat: Apache 리버스 프록시 + Swarm E2E 테스트 (Playwright)
  apps/gateway/Dockerfile
  docker-compose.e2e-full.yml
  docker/apache/Dockerfile
  docker/apache/httpd.conf
  docs/plans/2026-02-22-apache-swarm-e2e-design.md
  docs/plans/2026-02-22-apache-swarm-e2e.md
  package.json
  pnpm-lock.yaml
  scripts/e2e-swarm-setup.sh
  scripts/e2e-swarm-teardown.sh
  tests/e2e-swarm/log-viewer.spec.ts
  tests/e2e-swarm/playwright.config.ts
Due: gateway, auth

docs: Log History 서비스 설계 문서
  docs/plans/2026-02-22-log-history-design.md
Due: none

docs: Log History 구현 계획서
  docs/plans/2026-02-22-log-history.md
Due: none

feat(log-streamer): 로그 파일 리더 패키지 (타입 + 디렉토리 스캐너)
  apps/log-streamer/internal/config/config.go
  apps/log-streamer/internal/logreader/reader.go
  apps/log-streamer/internal/logreader/types.go
Due: none

feat(log-streamer): Log4j2 + JSON 로그 파서 (auto-detect)
  apps/log-streamer/internal/logreader/parser.go
  apps/log-streamer/internal/logreader/parser_test.go
Due: none

feat(log-streamer): 로그 검색 + 통계 (서버사이드 필터링, 페이지네이션)
  apps/log-streamer/internal/logreader/reader.go
  apps/log-streamer/internal/logreader/reader_test.go
Due: none

feat(log-streamer): 로그 파일 REST API (apps, files, search, stats)
  apps/log-streamer/internal/handler/logfiles.go
  apps/log-streamer/internal/server/server.go
Due: none

feat(gateway): LogHistory GraphQL 모델 + InputType
  apps/gateway/src/log-history/dto/log-search.input.ts
  apps/gateway/src/log-history/models/log-app.model.ts
  apps/gateway/src/log-history/models/log-line.model.ts
  apps/gateway/src/log-history/models/log-search-result.model.ts
  apps/gateway/src/log-history/models/log-summary.model.ts
Due: gateway

feat(gateway): LogHistoryService (DNS 탐색 + 다노드 병합)
  apps/gateway/src/log-history/log-history.service.ts
Due: gateway

feat(gateway): LogHistory Resolver + Module 통합
  apps/gateway/src/app.module.ts
  apps/gateway/src/log-history/log-history.module.ts
  apps/gateway/src/log-history/log-history.resolver.ts
  apps/gateway/src/schema.gql
Due: gateway

feat(log-viewer): react-router-dom + Navigation + LiveStreamPage 분리
  apps/log-viewer/src/App.tsx
  apps/log-viewer/src/components/Navigation.tsx
  apps/log-viewer/src/lib/utils.ts
  apps/log-viewer/src/pages/LiveStreamPage.tsx
  package.json
  pnpm-lock.yaml
Due: gateway, auth

feat(log-viewer): /history 페이지 (FilterBar + LogTable + SummaryBar)
  apps/log-viewer/src/history-graphql.ts
  apps/log-viewer/src/pages/HistoryPage.tsx
Due: none

build: log-streamer에 로그 디렉토리 볼륨 마운트 추가
  docker-compose.e2e-full.yml
  docker-compose.yml
Due: none
